<div class="container-fluid footer " style="height: 200px;padding-top:50px">

    <center>
        <a class="footer-link " href="https://www.linkedin.com/in/ ">LinkedIn</a>
        <a class="footer-link " href="https://twitter.com/ ">Twitter</a>
        <a class="footer-link " href="https://www.facebook.com/ ">Facebook</a>
        <a class="footer-link " href="https://www.instagram.com/ ">Instagram</a>
        <p class="copyright">© 2021 ipay2pal &nbsp; |&nbsp;&nbsp;&nbsp;Developed by <a class="myLink " href="https://stark-ocean-58141.herokuapp.com ">Fada E.K</a> </p>
    </center>


</div>



<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "></script>
<script src="/js/main.js"></script>
<script>
    $(window).scroll(function() {
        $('nav').toggleClass('scrolled', $(this).scrollTop() > 140)
    });
</script>

</section>
</body>

</html>