<%- include('partials/header') %>


    <div class="container-fluid " style=" margin-top:250px; margin-bottom: 250px;">
        <div class="row justify-content-center">
            <div class="col-auto mb-3">
                <div class="card " style=" width:25rem; ">
                    <div class="card-body">
                        <center><img src="images/logo.webp" alt="logo" style="border-radius: 40%; height: 80px;width: 80px;margin-bottom: 15px;">
                        </center>
                        <center>
                            <h1 style="color:#2051E9;">Sign Up</h1>
                        </center>

                        <!-- Makes POST request to /register route -->
                        <form action="/register" method="POST">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="name" class="form-control" name="name" />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" />
                            </div>

                            <button type="submit" class="btn " style="color: #ffffff;">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>